img {
  height: 200px;
}

footer {
  background-color: bisque;
  color: black;
  height: 20vh;
  width: 100%;
}

.btn-del-outline:focus,
.btn-del-outline:active {
  background-color: #28a745;
  box-shadow: none !important;
}